---
layout: default
title:Oil Painting
---
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<title>Oil Painting</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://oilpainting.github.io/stylesheets/normalize.css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://oilpainting.github.io/stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://oilpainting.github.io/stylesheets/github-light.css" media="screen">
<link rel='icon' href='images/impasto.ico ' type=‘image/x-ico’ /> 
</head>
<body>
	<section class="page-header">
		<h1 class="project-name">Art New Age Oil Painting</h1>
		<h2 class="project-tagline">User's Guide</h2>
	</section>
	<section class="main-content">
		<h2 align="center">{{page.title}}</h2>
		{{content}}
		<hr>
		{% include disqus.html %}
		<footer class="site-footer">
			<div align="center">
			<span class="site-footer-credits">Art New Age Oil Painting @Soyatec (http://www.soyatec.com)</span>
			</div>
		</footer>
	</section>
</body>
</html>
